In [1]:
from API_call import API_call
from gamePks import *
import statsapi as mlb
import pandas as pd

from tables import *
import relationships

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=db.db_engine)
session = Session()

Engine(sqlite://///Users/schlinkertc/code/MLB/mlb.db)

In [16]:
ins = []
[ins.extend(db.insert_game(game,replace=True)) for game in gamePks['2019'][:100]]
pd.DataFrame.from_records(ins)

,game,table,insert_status,records_count,records_added,reason
0,566083,games,success,1.0,1.0,None
1,566083,plays,success,79.0,79.0,None
2,566083,pitches,success,305.0,305.0,None
3,566083,pitch_data,success,298.0,298.0,None
4,566083,hit_data,success,50.0,50.0,None
...,...,...,...,...,...,...
1695,566762,team_records,success,2.0,2.0,None
1696,566762,players,success,265.0,0.0,None
1697,566762,game_player_links,success,265.0,265.0,None
1698,566762,game_batting_stats,success,43.0,43.0,None
1699,566762,game_pitching_stats,success,14.0,14.0,None

In [17]:
df = pd.DataFrame.from_records(ins)

In [19]:
df.groupby('table').sum()

                         game  records_count  records_added
table
actions              56696510         3943.0         3943.0
credits              56696510         8696.0         8378.0
game_batting_stats   56696510         3524.0         3524.0
game_pitching_stats  56696510         1109.0         1109.0
game_player_links    56696510        18814.0        18814.0
game_team_links      56696510          200.0          200.0
games                56696510          100.0          100.0
hit_data             56696510         5094.0         5094.0
matchups             56696510         7641.0         7641.0
pitch_data           56696510        17124.0        17124.0
pitches              56696510        17308.0        17308.0
players              56696510        19223.0            0.0
plays                56696510         7641.0         7641.0
runners              56696510        10181.0        10181.0
team_records         56696510          200.0          200.0
teams                56696510          200.0            0.0
venues               56696510          100.0            0.0

In [10]:
# Yankees games on my birthday
stmt= """
SELECT 
    pk
FROM
    games
WHERE
    pk 
IN
    (
    SELECT
        gamePk
    FROM
        game_team_links
    WHERE
        team_id 
    IN
        (SELECT
            id
        FROM 
            teams
        WHERE
            name = 'New York Yankees')
    )
AND
    strftime('%m-%d',dateTime)='06-11'
    """

In [13]:
db.pd_query(statement=stmt,name='Yankees games on my birthday')

       pk
0  567491
1  567492

In [14]:
db.db_engine.execute(stmt).fetchall()

[(567491,), (567492,)]

In [16]:
ins = db.insert_game(pk,replace=True)

In [23]:
pd.DataFrame.from_records(ins)

,game,table,insert_status,records_count,records_added,reason
0,565350,games,success,1,1,None
1,565350,plays,success,89,89,None
2,565350,pitches,success,379,379,None
3,565350,pitch_data,success,374,374,None
4,565350,hit_data,success,54,54,None
5,565350,actions,success,45,45,None
6,565350,runners,success,113,113,None
7,565350,credits,success,91,89,None
8,565350,matchups,success,89,89,None
9,565350,venues,success,1,0,None
10,565350,teams,success,2,0,None
11,565350,game_team_links,success,2,2,None
12,565350,team_records,success,2,2,None
13,565350,players,success,50,0,None
14,565350,game_player_links,success,50,50,None
15,565350,game_batting_stats,success,22,22,None
16,565350,game_pitching_stats,success,14,14,None

In [18]:
stmt = f""" 
select 
    *
from 
    game_player_links
where 
    gamePk = {pk}
"""

In [21]:
pd.read_sql(stmt,db.db_engine)

,person_id,team_id,gamePk,gameDateTime,position_code,status_description,gameStatus_isCurrentBatter,gameStatus_isCurrentPitcher,gameStatus_isOnBench,gameStatus_isSubstitute,battingOrder,allPositions
0,595918,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
1,669456,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
2,592644,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
3,641343,None,565350,2019-06-09T17:10:00Z,3,Active,0,0,0,0,800,"3,"
4,621397,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
5,621295,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
6,547982,None,565350,2019-06-09T17:10:00Z,8,Active,0,0,0,0,900,"8,"
7,608700,None,565350,2019-06-09T17:10:00Z,2,Active,0,0,0,1,902,"11, 2,"
8,605479,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
9,502273,None,565350,2019-06-09T17:10:00Z,4,Active,0,0,0,1,401,"4,"
10,656669,None,565350,2019-06-09T17:10:00Z,7,Active,1,0,0,0,500,"9, 7,"
11,543401,None,565350,2019-06-09T17:10:00Z,4,Active,0,0,0,0,400,"4,"
12,580792,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
13,424144,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
14,608070,None,565350,2019-06-09T17:10:00Z,5,Active,0,0,0,0,600,"5,"
15,461325,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
16,596019,None,565350,2019-06-09T17:10:00Z,6,Active,0,0,0,0,100,"6,"
17,643256,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
18,668676,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
19,571980,None,565350,2019-06-09T17:10:00Z,9,Active,0,0,0,1,702,"12, 9,"
20,640458,None,565350,2019-06-09T17:10:00Z,8,Active,0,0,0,0,200,"7, 8,"
21,543272,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
22,467793,None,565350,2019-06-09T17:10:00Z,10,Active,0,0,0,0,300,"10,"
23,545333,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
24,547379,None,565350,2019-06-09T17:10:00Z,2,Active,0,0,0,0,700,"2,"
25,641482,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
26,518934,None,565350,2019-06-09T17:10:00Z,3,Active,0,0,0,0,100,"4, 3,"
27,519222,None,565350,2019-06-09T17:10:00Z,2,Active,0,0,1,0,None,None
28,493603,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
29,640449,None,565350,2019-06-09T17:10:00Z,10,Active,0,0,0,0,600,"10,"
30,572020,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
31,570482,None,565350,2019-06-09T17:10:00Z,5,Active,0,0,0,0,800,"5,"
32,656547,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
33,543305,None,565350,2019-06-09T17:10:00Z,8,Active,0,0,0,0,200,"8,"
34,282332,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
35,502154,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
36,457727,None,565350,2019-06-09T17:10:00Z,9,Active,0,0,0,0,900,"9,"
37,650402,None,565350,2019-06-09T17:10:00Z,4,Active,0,0,0,0,500,"6, 4,"
38,458731,None,565350,2019-06-09T17:10:00Z,7,Active,0,0,0,0,700,"7,"
39,643338,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
40,571735,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
41,592454,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
42,570666,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
43,572228,None,565350,2019-06-09T17:10:00Z,3,Active,0,0,0,0,300,"3,"
44,596142,None,565350,2019-06-09T17:10:00Z,2,Active,0,0,0,0,400,"2,"
45,605501,None,565350,2019-06-09T17:10:00Z,1,Active,0,1,0,0,None,"1,"
46,457918,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,1,0,None,None
47,547973,None,565350,2019-06-09T17:10:00Z,1,Active,0,0,0,0,None,"1,"
48,434778,None,565350,2019-06-09T17:10:00Z,10,Active,0,0,1,0,None,None
49,544369,None,565350,2019-06-09T17:10:00Z,6,Active,0,0,0,1,301,"6,"

In [8]:
# item for sublist in list for item in sublist

game_stat= list(
    { k for keys in call.game_player_links 
     for k in keys if k.startswith('stats_pitching') }
)

In [9]:
season_stat = list(
    { k for keys in call.game_player_links 
     for k in keys if k.startswith('seasonStats_pitching') }
)

In [10]:
game_stat

['stats_pitching_inheritedRunners',
 'stats_pitching_hits',
 'stats_pitching_doubles',
 'stats_pitching_outs',
 'stats_pitching_gamesPitched',
 'stats_pitching_triples',
 'stats_pitching_gamesPlayed',
 'stats_pitching_holds',
 'stats_pitching_homeRunsPer9',
 'stats_pitching_baseOnBalls',
 'stats_pitching_completeGames',
 'stats_pitching_groundOuts',
 'stats_pitching_intentionalWalks',
 'stats_pitching_runs',
 'stats_pitching_wins',
 'stats_pitching_runsScoredPer9',
 'stats_pitching_earnedRuns',
 'stats_pitching_gamesFinished',
 'stats_pitching_flyOuts',
 'stats_pitching_balls',
 'stats_pitching_sacFlies',
 'stats_pitching_losses',
 'stats_pitching_homeRuns',
 'stats_pitching_caughtStealing',
 'stats_pitching_catchersInterference',
 'stats_pitching_stolenBases',
 'stats_pitching_saveOpportunities',
 'stats_pitching_inningsPitched',
 'stats_pitching_hitBatsmen',
 'stats_pitching_inheritedRunnersScored',
 'stats_pitching_hitByPitch',
 'stats_pitching_atBats',
 'stats_pitching_saves',
 'stats_pitching_gamesStarted',
 'stats_pitching_shutouts',
 'stats_pitching_airOuts',
 'stats_pitching_note',
 'stats_pitching_numberOfPitches',
 'stats_pitching_strikePercentage',
 'stats_pitching_battersFaced',
 'stats_pitching_strikes',
 'stats_pitching_sacBunts',
 'stats_pitching_pitchesThrown',
 'stats_pitching_stolenBasePercentage',
 'stats_pitching_blownSaves',
 'stats_pitching_pickoffs',
 'stats_pitching_balks',
 'stats_pitching_rbi',
 'stats_pitching_wildPitches',
 'stats_pitching_strikeOuts']

In [11]:
season_stat

['seasonStats_pitching_strikeoutWalkRatio',
 'seasonStats_pitching_outs',
 'seasonStats_pitching_sacBunts',
 'seasonStats_pitching_gamesPlayed',
 'seasonStats_pitching_groundOuts',
 'seasonStats_pitching_earnedRuns',
 'seasonStats_pitching_homeRunsPer9',
 'seasonStats_pitching_wins',
 'seasonStats_pitching_runsScoredPer9',
 'seasonStats_pitching_balks',
 'seasonStats_pitching_baseOnBalls',
 'seasonStats_pitching_losses',
 'seasonStats_pitching_atBats',
 'seasonStats_pitching_strikeoutsPer9Inn',
 'seasonStats_pitching_inheritedRunnersScored',
 'seasonStats_pitching_saves',
 'seasonStats_pitching_walksPer9Inn',
 'seasonStats_pitching_groundOutsToAirouts',
 'seasonStats_pitching_gamesStarted',
 'seasonStats_pitching_runs',
 'seasonStats_pitching_inningsPitched',
 'seasonStats_pitching_sacFlies',
 'seasonStats_pitching_completeGames',
 'seasonStats_pitching_obp',
 'seasonStats_pitching_homeRuns',
 'seasonStats_pitching_caughtStealing',
 'seasonStats_pitching_stolenBases',
 'seasonStats_pitching_era',
 'seasonStats_pitching_wildPitches',
 'seasonStats_pitching_holds',
 'seasonStats_pitching_doubles',
 'seasonStats_pitching_inheritedRunners',
 'seasonStats_pitching_winPercentage',
 'seasonStats_pitching_hitsPer9Inn',
 'seasonStats_pitching_rbi',
 'seasonStats_pitching_hits',
 'seasonStats_pitching_whip',
 'seasonStats_pitching_intentionalWalks',
 'seasonStats_pitching_airOuts',
 'seasonStats_pitching_triples',
 'seasonStats_pitching_saveOpportunities',
 'seasonStats_pitching_blownSaves',
 'seasonStats_pitching_flyOuts',
 'seasonStats_pitching_hitByPitch',
 'seasonStats_pitching_hitBatsmen',
 'seasonStats_pitching_stolenBasePercentage',
 'seasonStats_pitching_gamesPitched',
 'seasonStats_pitching_shutouts',
 'seasonStats_pitching_gamesFinished',
 'seasonStats_pitching_strikeOuts',
 'seasonStats_pitching_pickoffs',
 'seasonStats_pitching_catchersInterference']

In [12]:
df = pd.DataFrame.from_records(call.game_player_links)[game_stat]

In [13]:
df[df['stats_batting_stolenBasePercentage']==".---"][['stats_batting_stolenBases','stats_batting_caughtStealing']]

KeyError: 'stats_batting_stolenBasePercentage'

In [ ]:
df[df['stats_batting_stolenBasePercentage'].isna()==True]

In [ ]:
pk = gamePks['2018'][606]

ins = db.insert_game(pk,replace=True)

pd.DataFrame.from_records(ins)

In [ ]:
for table in tables:
    db.db_engine.execute(f'delete from {table} where gamePk={pk}')

In [ ]:
for table in tables:
    r = db.db_engine.execute(f"select count(*) from {table} where gamePk={pk}")
    print(r.fetchone()[0])

In [ ]:
r.fetchone()[0]

In [ ]:
pks = gamePks['2019'][500:550]

calls = [API_call(pk) for pk in pks]
#item for sublist in list for item in sublist
records = [link for call in calls for link in call.game_player_links]

In [ ]:
df = pd.DataFrame.from_records(records)

In [ ]:
df['stats_pitching_gamesPitched'].value_counts()

In [ ]:
df['gameStatus_isCurrentBatter'].value_counts()

In [ ]:
# #TEST: which columns, if any, don't have any values
# dfs = {}
# for table in db.db_engine.table_names():
#     df = pd.read_sql(f"select * from {table}",db.db_engine)
#     dfs[table]=df


# for k in dfs.keys():
#     df = dfs[k]
#     for col in df.columns:
#         if df[col].isna().sum()==df.shape[0]:
#             print(k,col)

# pks = [x[0] for x in session.query(Game.pk).all()]

# calls = [API_call(pk) for pk in pks]

# dfs_fromApi = {}
# for k in calls[0].__dict__.keys():
#     if k[0] != '_':
#         records = [x for call in calls for x in call.__dict__[k]]
#         df = pd.DataFrame.from_records(records)
#         dfs_fromApi[k] = df

In [ ]:
call = API_call(567055)

In [ ]:
liveData = call._result['liveData']

In [ ]:
box_score = liveData['boxscore']

In [ ]:
away = box_score['teams']['away']

In [ ]:
players = away['players']

In [ ]:
player_dicts = []
for k in players.keys():
    player_dicts.append(flatten_dicts(players[k]))

In [ ]:
df = pd.DataFrame.from_records(player_dicts)

In [ ]:
df.info()

In [ ]:
df['status_description'].value_counts()

In [ ]:
df.info(verbose=True)

In [ ]:
stmt = """
select 
    pk,
    count(pk) as count
from
    games
group by 
    pk
having 
    count > 1
"""

In [ ]:
db.db_engine.execute(stmt).fetchall()