In [1]:
from API_call import API_call
from gamePks import *
import statsapi as mlb
import pandas as pd

from tables import *
import relationships

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=db.db_engine)
session = Session()

Engine(sqlite://///Users/schlinkertc/code/MLB/mlb.db)

In [30]:
engine = db.db_engine
stmt="""
select
    *
from 
    matchups
where
    playEndTime is '-'
"""

In [31]:
pd.read_sql(stmt,engine)

,atBatIndex,playEndTime,batter_id,pitcher_id,splits_batter,splits_pitcher,splits_menOnBase,gamePk,postOnFirst_id,postOnSecond_id,postOnThird_id
0,0,-,279913,452718,vs_RHP,vs_LHB,Men_On,237585,279913.0,NaN,NaN
1,1,-,150472,452718,vs_RHP,vs_RHB,Men_On,237585,279913.0,NaN,NaN
2,2,-,408252,452718,vs_RHP,vs_RHB,RISP,237585,408252.0,279913.0,NaN
3,3,-,276055,452718,vs_RHP,vs_LHB,Loaded,237585,276055.0,408252.0,279913.0
4,4,-,429665,452718,vs_RHP,vs_RHB,RISP,237585,429665.0,276055.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
100417,66,-,150100,400093,vs_RHP,vs_RHB,Empty,235056,NaN,NaN,NaN
100418,67,-,150268,400093,vs_RHP,vs_RHB,RISP,235056,NaN,150268.0,NaN
100419,68,-,425664,400093,vs_RHP,vs_LHB,Men_On,235056,425664.0,NaN,NaN
100420,54,-,543257,519141,vs_LHP,vs_RHB,Empty,566470,NaN,NaN,NaN
100421,50,-,640447,608331,vs_LHP,vs_RHB,Empty,567220,NaN,NaN,NaN

In [35]:
stmt="""
SELECT 
    *
FROM 
    plays
where 
    gamePk = 237585
    and
    about_atBatIndex = 0
"""

In [36]:
pd.read_sql(stmt,engine)

Empty DataFrame
Columns: [result_type, result_event, result_eventType, result_description, result_rbi, result_awayScore, result_homeScore, about_atBatIndex, about_halfInning, about_isTopInning, about_inning, about_startTime, about_endTime, about_isComplete, about_isScoringPlay, about_hasReview, about_hasOut, about_captivatingIndex, count_balls, count_strikes, count_outs, gamePk]
Index: []

[0 rows x 22 columns]

In [5]:
[db.insert_game(game,replace=True) for game in gamePks['2019']]

//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'plays.about_atBatIndex' is marked as a member of the primary key for table 'plays', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'plays.about_endTime' is marked as a member of the primary key for table 'plays', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'plays.gamePk' is marked as a member of the primary key for table 'plays', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'pitches.gamePk' is marked as a member of the primary key for table 'pitches', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'pitches.atBatIndex' is marked as a member of the primary key for table 'pitches', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'pitches.playEndTime' is marked as a member of the primary key for table 'pitches', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'pitches.index' is marked as a member of the primary key for table 'pitches', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'pitch_data.gamePk' is marked as a member of the primary key for table 'pitch_data', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'pitch_data.atBatIndex' is marked as a member of the primary key for table 'pitch_data', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'pitch_data.playEndTime' is marked as a member of the primary key for table 'pitch_data', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'pitch_data.index' is marked as a member of the primary key for table 'pitch_data', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'hit_data.gamePk' is marked as a member of the primary key for table 'hit_data', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'hit_data.atBatIndex' is marked as a member of the primary key for table 'hit_data', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'hit_data.playEndTime' is marked as a member of the primary key for table 'hit_data', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'hit_data.index' is marked as a member of the primary key for table 'hit_data', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'actions.gamePk' is marked as a member of the primary key for table 'actions', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'actions.atBatIndex' is marked as a member of the primary key for table 'actions', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'actions.playEndTime' is marked as a member of the primary key for table 'actions', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'actions.index' is marked as a member of the primary key for table 'actions', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'runners.atBatIndex' is marked as a member of the primary key for table 'runners', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'runners.playEndTime' is marked as a member of the primary key for table 'runners', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'runners.movement_start' is marked as a member of the primary key for table 'runners', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'runners.movement_end' is marked as a member of the primary key for table 'runners', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'runners.details_event' is marked as a member of the primary key for table 'runners', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'runners.details_playIndex' is marked as a member of the primary key for table 'runners', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'runners.details_runner_id' is marked as a member of the primary key for table 'runners', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'runners.gamePk' is marked as a member of the primary key for table 'runners', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)
//anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/crud.py:799: SAWarning: Column 'credits.atBatIndex' is marked as a member of the primary key for table 'credits', but has no Python-side or server-side default generator indicated, nor does it indicate 'autoincrement=True' or 'nullable=True', and no explicit value is passed.  Primary key columns typically may not store NULL. Note that as of SQLAlchemy 1.1, 'autoincrement=True' must be indicated explicitly for composite (e.g. multicolumn) primary keys if AUTO_INCREMENT/SERIAL/IDENTITY behavior is expected for one of the columns in the primary key. CREATE TABLE statements are impacted by this change as well on most backends.
  util.warn(msg)

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ...]

In [2]:
pk = 567491

In [3]:
pd.read_sql(f"select * from game_player_links where gamePk = {pk}",db.db_engine)

,person_id,team_id,gamePk,gameDateTime,position_code,status_description,gameStatus_isCurrentBatter,gameStatus_isCurrentPitcher,gameStatus_isOnBench,gameStatus_isSubstitute,battingOrder,allPositions
0,518934,None,567491,2019-06-11T17:05:00Z,4,Active,0,0,0,0,100,"4,"
1,519222,None,567491,2019-06-11T17:05:00Z,2,Active,0,0,1,0,None,None
2,493603,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
3,664856,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
4,640449,None,567491,2019-06-11T17:05:00Z,9,Active,0,0,0,0,600,"9,"
5,572020,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
6,570482,None,567491,2019-06-11T17:05:00Z,5,Active,0,0,0,0,800,"5,"
7,656547,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
8,543305,None,567491,2019-06-11T17:05:00Z,8,Active,0,0,0,0,200,"8,"
9,282332,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
10,502154,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
11,547888,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,0,0,None,"1,"
12,457727,None,567491,2019-06-11T17:05:00Z,9,Active,0,0,0,1,601,"9,"
13,650402,None,567491,2019-06-11T17:05:00Z,6,Active,0,0,1,0,None,None
14,458731,None,567491,2019-06-11T17:05:00Z,7,Active,0,0,0,0,900,"7,"
15,643338,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
16,571735,None,567491,2019-06-11T17:05:00Z,1,Active,0,1,0,0,None,"1,"
17,592454,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,0,0,None,"1,"
18,570666,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
19,572228,None,567491,2019-06-11T17:05:00Z,10,Active,0,0,0,0,300,"10,"
20,596142,None,567491,2019-06-11T17:05:00Z,2,Active,0,0,0,0,400,"2,"
21,605501,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
22,457918,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
23,547973,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
24,434778,None,567491,2019-06-11T17:05:00Z,3,Active,0,0,0,0,700,"3,"
25,544369,None,567491,2019-06-11T17:05:00Z,6,Active,0,0,0,0,500,"6,"
26,544727,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
27,624424,None,567491,2019-06-11T17:05:00Z,9,Active,1,0,0,0,200,"9,"
28,571927,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
29,621512,None,567491,2019-06-11T17:05:00Z,2,Active,0,0,0,0,800,"2,"
30,641645,None,567491,2019-06-11T17:05:00Z,6,Active,0,0,1,0,None,None
31,554430,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,0,0,None,"1,"
32,643446,None,567491,2019-06-11T17:05:00Z,4,Active,0,0,0,0,100,"4,"
33,592789,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
34,642708,None,567491,2019-06-11T17:05:00Z,6,Active,0,0,0,0,700,"6,"
35,521655,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,0,0,None,"1,"
36,453943,None,567491,2019-06-11T17:05:00Z,5,Active,0,0,0,0,500,"5,"
37,623402,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,0,0,None,"1,"
38,642086,None,567491,2019-06-11T17:05:00Z,3,Active,0,0,0,0,400,"3,"
39,467092,None,567491,2019-06-11T17:05:00Z,2,Active,0,0,1,0,None,None
40,588751,None,567491,2019-06-11T17:05:00Z,4,Active,0,0,1,0,None,None
41,624413,None,567491,2019-06-11T17:05:00Z,10,Active,0,0,0,0,300,"10,"
42,460576,None,567491,2019-06-11T17:05:00Z,9,Active,0,0,1,0,None,None
43,594798,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
44,621242,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
45,543193,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
46,605204,None,567491,2019-06-11T17:05:00Z,7,Active,0,0,0,0,600,"7,"
47,607229,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
48,607625,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
49,502327,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None
50,501571,None,567491,2019-06-11T17:05:00Z,8,Active,0,0,0,0,900,"8,"
51,450306,None,567491,2019-06-11T17:05:00Z,1,Active,0,0,1,0,None,None

In [22]:
db.db_engine.execute("select distinct(season) from games").fetchall()

[(2019,), (2018,), (2008,)]

In [3]:
db.pd_query(name="Yankees games on my birthday",load=True)

       pk
0  567491
1  567492

In [18]:
stmt="""
SELECT
    person_id
FROM 
    game_player_links
WHERE
    gamePk = 567491
    """

In [19]:
engine = db.db_engine

In [20]:
engine.execute(stmt).fetchall()

[]

In [ ]:
ins = db.insert_game(pk,replace=True)

In [ ]:
pd.DataFrame.from_records(ins)

In [ ]:
stmt = f""" 
select 
    *
from 
    game_player_links
where 
    gamePk = {pk}
"""

In [ ]:
pd.read_sql(stmt,db.db_engine)

In [ ]:
# item for sublist in list for item in sublist

game_stat= list(
    { k for keys in call.game_player_links 
     for k in keys if k.startswith('stats_pitching') }
)

In [ ]:
season_stat = list(
    { k for keys in call.game_player_links 
     for k in keys if k.startswith('seasonStats_pitching') }
)

In [ ]:
game_stat

In [ ]:
season_stat

In [ ]:
df = pd.DataFrame.from_records(call.game_player_links)[game_stat]

In [ ]:
df[df['stats_batting_stolenBasePercentage']==".---"][['stats_batting_stolenBases','stats_batting_caughtStealing']]

In [ ]:
df[df['stats_batting_stolenBasePercentage'].isna()==True]

In [ ]:
pk = gamePks['2018'][606]

ins = db.insert_game(pk,replace=True)

pd.DataFrame.from_records(ins)

In [ ]:
for table in tables:
    db.db_engine.execute(f'delete from {table} where gamePk={pk}')

In [ ]:
for table in tables:
    r = db.db_engine.execute(f"select count(*) from {table} where gamePk={pk}")
    print(r.fetchone()[0])

In [ ]:
r.fetchone()[0]

In [ ]:
pks = gamePks['2019'][500:550]

calls = [API_call(pk) for pk in pks]
#item for sublist in list for item in sublist
records = [link for call in calls for link in call.game_player_links]

In [ ]:
df = pd.DataFrame.from_records(records)

In [ ]:
df['stats_pitching_gamesPitched'].value_counts()

In [ ]:
df['gameStatus_isCurrentBatter'].value_counts()

In [ ]:
# #TEST: which columns, if any, don't have any values
# dfs = {}
# for table in db.db_engine.table_names():
#     df = pd.read_sql(f"select * from {table}",db.db_engine)
#     dfs[table]=df


# for k in dfs.keys():
#     df = dfs[k]
#     for col in df.columns:
#         if df[col].isna().sum()==df.shape[0]:
#             print(k,col)

# pks = [x[0] for x in session.query(Game.pk).all()]

# calls = [API_call(pk) for pk in pks]

# dfs_fromApi = {}
# for k in calls[0].__dict__.keys():
#     if k[0] != '_':
#         records = [x for call in calls for x in call.__dict__[k]]
#         df = pd.DataFrame.from_records(records)
#         dfs_fromApi[k] = df

In [ ]:
call = API_call(567055)

In [ ]:
liveData = call._result['liveData']

In [ ]:
box_score = liveData['boxscore']

In [ ]:
away = box_score['teams']['away']

In [ ]:
players = away['players']

In [ ]:
player_dicts = []
for k in players.keys():
    player_dicts.append(flatten_dicts(players[k]))

In [ ]:
df = pd.DataFrame.from_records(player_dicts)

In [ ]:
df.info()

In [ ]:
df['status_description'].value_counts()

In [ ]:
df.info(verbose=True)

In [ ]:
stmt = """
select 
    pk,
    count(pk) as count
from
    games
group by 
    pk
having 
    count > 1
"""

In [ ]:
db.db_engine.execute(stmt).fetchall()